body {
text-align: center;
font-family: RALEWAY;
margin: 0;
}
header {
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px;
}
nav {
    background-color: #00a6b3;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 20px 0;
}
main {
    width: 850px;
    margin: 35px auto;
}
img {
    margin: 40px 8px 0 8px;
}
link {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
h1 {
    font-weight: 400;
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;

}
h3 {
    color: #0D2C40;
    font-weight: 600;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
}
a:hover {
    border-bottom: 2px solid white;
}
p {
    font-family: "DROID SERIF";
    line-height: 26px;
    font-size: 18px;
    text-transform: none;
}
footer {
    font-family: RALEWAY;
    padding: 20px;
    background: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500px;
}
.copyright {
    float: left;
}
.message {
    float: right;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
.name {
    color: #F15B31;
    font-weight: 700px;
}